body {
    background: #f5f5f5;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.experience-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: solid black;
    width: 85%;
    margin-top: 20px;
    
    
}

.experience-topvenn {
    display: flex;
    justify-content: space-around;
}

.experience-bottomvenn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 0px;
    text-align: center;
}

p {
    margin: 5px;
    padding: 10px;
    color: black;
    border: solid black 2px;
    background: #DCDCDC;
    max-width: 85%;
}

.skills {
    text-align: center;
    max-width: 75%;
}

.venn {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
}

.me {
    position: relative;
    top: -130px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid black 1px;
    z-index: 1;
    position: relative;
    top: -140px;
    
}

.label {
    position: relative;
    top: 160px;
}

.sales-label {
    position: relative;
    left: 45px;
    top: 70px;
    -webkit-transform: rotate(35deg);

}

.web-label {
    position: relative;
    right: 45px;
    top: 70px;
    -webkit-transform: rotate(-35deg);

}

.webdev {
    
    background: rgba(255, 255, 0, .5);
    animation: moveright 2s;
    left: -200px;
    animation-fill-mode: forwards;
}
@keyframes moveright {
    0% {
      left: -200px;
    }
    100% {
        left: 70px;
    }
  }

.salesengineering {
    left: 200px;
    animation: moveleft 2s;
    background:rgba(255, 0, 0, .5);
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}

  @keyframes moveleft {
    0% {
      left: 200px;
    }
    100% {
        left: -70px;
    }
  }

  .product-management {
    bottom: 1px;
    background: rgba(0, 0, 255, .5);
    animation: moveup 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes moveup {
    0% {
      bottom: 0px;
    }
    100% {
    bottom: 250px;
    }
  }


