
<div class = 'about'>
<h2>About Me</h2>
<p>
A seasoned <strong>enterprise sales engineer</strong> and full stack web developer with experience in all aspects of the software development life cycle, I combine superior communication skills with a passion for programming to provide technical savvy in all stages of the sales cycle.
</p>
<h3>Skills</h3>
<p>Here are a few of my skills...</p>
</div>