<div class = 'experience-container'>
    <h2 class = 'typewriter'>Who Is Sam Gehret?</h2>
    <div class = 'experience-topvenn'>
        <div class = 'webdev venn'>
            <h2 class = 'web-label'>Web Developer</h2>
        </div>

        <div class = 'salesengineering venn'>
            <h2 class = 'sales-label'>Sales Engineer</h2>
        </div>
    </div>
    <img class ='me' src="../img/me.png" alt="Sam">

    <div class ='experience-bottomvenn'>
        <div class = 'product-management venn'>
        <h2 class = 'label'>Product Manager</h2>
        </div>
    </div>

</div>

